.Wrapper {
  display: block;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
  z-index: -1;
}

.introContainer {
  position: relative;
  display: flex;
  height: 100%;
  padding-top: 50px;
}

.introText {
  width: 40%;
}

.title {
  margin-bottom: 30px;
  font-weight: 800;
}

.paragraph {
  line-height: 40px;
}

.devideLine {
  height: 80%;
  width: 2px;
  margin: 0px 50px;
  background-color: black;
}

.animation {
  height: 80%;
  width: calc(60% - 102px);
  background-color: black;
}

.urls {
  display: flex;
  flex-direction: column;
}

.urls > a:hover {
  color: aqua;
}
